@charset "utf-8";

.container {
    width: 100%; /* 모바일,태블릿크기 */
    max-width: 1200px; /* pc 크기 */
    padding: 0 10px;
    margin: 0 auto; /* 가운데 정렬 */
}

/* ======== header ======== */
header {
    position: relative;
    width: 100%;   
    height: 50px;
}

.logo-brand {
    margin-top: 15px;
    margin-left: 20px;
    /* border: 1px solid #000; */
}

.gnb-border-menu {
    position: absolute;
    right: 20px;
    top: 4px;
    /* border: 1px solid #000; */
}

.border-btn {
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.border-btn > span { /* 보더만들때 span을 display:block으로줘야함 */
    display: block;
    width: 30px;
    height: 4px;
    cursor: pointer;
    background-color: rgb(26, 64, 235);
}

.border-btn > span:nth-child(2) {
    margin-top: 5px;
}

.border-btn > span:last-child {
    margin-top: 5px;
}

/* gnb */
nav {
    width: 100%;
    display: none;
}

.gnb {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.gnb > li {
    width: 100%;
    padding: 10px 0 10px 54px;
    border-bottom: 1px solid rgb(3, 2, 104);
    background-color: rgb(26, 64, 235);
}

.gnb > li:last-child {
    border-bottom: none;
}

.gnb > li > a {
    color: #fff;
}

/* ==================== main ======================  */
/* article */
article > h2 {
    font-size: 0;
}

.slide-img {
    height: 220px;
}

.slide-img > img {
    width: 100%;
    height: 100%;
}

/* section */
section {
    margin-bottom: 50px;
}

main > section:last-child {
    margin-bottom: 20px;
}

main > section:last-child > h2 {
    font-size: 0;
}

section > h2 {
    font-size: 0;
}

/* text-box */
.text-box {
    width: 97%;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}

.text-box > h2{
    font-size: 35px;
    margin-bottom: 50px;
}

.text-box > p{
    font-size: 16px;
}

/* flex-pro */
.flex-pro {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;

}

.flex-pro .pro-img {
    display: inline-block;
    width: 20%;
    margin-bottom: 30px;
}

.pro-img > img {
    width: 100%;
}

.flex-pro h3 {
    font-weight: lighter;
    margin-bottom: 30px;
}

.flex-pro p {
    font-size: 16px;
}

.HOME {
    margin-bottom: 80px;
}

.WEARE {
    margin-bottom: 80px;
}

.WORK {
    margin-bottom: 80px;
}

.BLOG {
    margin-bottom: 80px;
}

/* work-img */

.work {
    width: 100%;
    text-align: center;
}

.work h2 {
    font-size: 35px;
    margin-bottom: 80px;
}

/* flex-img */
.flex-img {
    display: flex;
    flex-direction: column;
}

.flex-img > .sports {
    width: 100%;
}

.flex-img > .sports > a {
    position: relative;
    display: block;
    width: 100%;
}

.flex-img > .sports > a::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: all 0.2s;
    background-color: rgb(26, 64, 235);
}

.flex-img > .sports > a:hover::before {
    opacity: 0.5;
}

.flex-img > .sports > a > img {
    width: 0;
}

.img-title {
    position: absolute;
    top: 0;
    left: 23;
    z-index: 20;
    opacity: 0;
    transition: all 0.3s;
    text-align: left;
    padding: 20px;
    color: #fff;
}


.sports > a:hover .img-title {
    opacity: 1;
}

.flex-img > .sports > a > img {
    display: block;
    width: 100%;
}

.border > p {
    width: 20px;
    height: 3px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgb(26, 64, 235);
}
/* BLOG-text */
.flex-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-text > h2 {
    font-size: 35px;
    margin-bottom: 50px;
}

.BLOG-text { 
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.BLOG-text img { 
    width: 100%;
}

.BLOG-text h4 {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}

.BLOG-text p {
    font-size: 18px;
    margin-top: 15px;
    text-align: left; 
}

/* address-info */

label {
    display: none;
}

.flex-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-info > h2 {
    font-size: 35px;
}

.address-info > input,
.address-info textarea
 {
    width: 90%;
    padding-bottom: 15px;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.address-info > input::placeholder,
.address-info > textarea::placeholder {
    color: rgb(26, 64, 235);
}


.submit {
    width: 95%;
    margin-top: 30px;
    text-align: right;
}

.submit > input {
    padding: 10px;
    color: #fff;
    background-color: rgb(26, 64, 235);    
}

/* footger */
footer > h3 {
    text-align: center;
}

footer > h3 > a {
    color: rgb(26, 64, 235);
}

/* ====================  테블릿 ======================== */

@media screen and (min-width:768px) {
    .logo-brand h1 {
        font-size: 25px;
        font-weight: lighter;
    }

    .gnb-border-menu {
        display: none;
    }

    nav {
        display: block;
    }
    
    .gnb {
        position: absolute;
        top: 10%;
        right: 0;
        width: 60%;
        margin-right: 2.5%;
        flex-direction: row;
    }
    
    .gnb > li {
        width: 100%;
        padding: 0;
        text-align: center;
        border-bottom: 0px;
        background-color: #fff;
    }
        
    .gnb > li > a {
        width: 100%;
        font-size: 15px;
        margin: 0 30px 0 0;
        color: rgb(26, 64, 235);
    }

    /* text-box */
    .text-box {
        margin-bottom: 10%;
    }

    .text-box > h2{
        font-weight: lighter;
    }

    /* flex-pro */
    .flex-pro {
        width: 100%;
        flex-direction: row;
        border-bottom: 0;

    }

    .flex-pro .pro-img {
        width: 25%;
        height: 35px;
    }

    .pro-img > img {
        height: 100%;
    }

    .flex-pro h3 {
        font-weight: lighter;
    }

    .flex-pro p {
        font-size: 14px;
    }

    /* work-img */
    .work h2 {
        font-weight: lighter;
    }

    /* flex-img */
    .flex-img {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-img > .sports {
        width: 50%;
    }

    /* BLOG-text */
    .flex-text {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex-text > h2 {
        width: 100%;
        font-weight: lighter;
    }

    .flex-text > div {
        width: 31%;
    }

    /* flex-info */
    .flex-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .flex-info > h2 {
        width: 100%;
        font-weight: lighter;
        font-style: italic;
    }

    .flex-item {
        width: 50%;
    }

    /*footer*/
    footer > h3 {
        font-weight: lighter;
    }
}